/* page reset and link styling */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  color: #42200b;
}

a{
    text-decoration: none;
}

a:link{
    color: #42200b; 
}

a:visited {
    color: #42200b;
}

a:hover{
    color: white;
}

/* Main Promotion Section Design */

.main-promo {
    background-color: #ffc135;
    height: 825px;
}

.navbar__logo {
    width: 263px;
    height: 58px;
    position: relative;
    left: 57px;
    top: 53px;
}

.navbar__logo__icon {
    height: 58px;
    display: inline-block;
}

.navbar__logo__text {
    left: 22px;
    bottom: 10px;
    position: relative;
    display: inline-block;
    width: 183px;
    height: 30px;
    font-size: 40px;
}

.navbar__contact {
    position: relative;
    left: 1056px;
    width: 330px;
    height: 33px;
    z-index: 1;
}

.navbar__contact__icon {
    height: 33px;
}

.navbar__contact__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-left: 10px;
    display: inline-block;
    height: 18px;
    position: relative;
    bottom: 6px;
    text-align: right;
    text-transform: uppercase;
}

.navbar__menu{
    width: 478px;
    height: 15px;
    list-style: none;
    position: relative;
    left:905px;
    top: 34px;
    z-index: 1;
}

.navbar__menu__links{
    display: inline-block;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-left: 37px;
    font-size: 20px;
}

.main-promo__slogan {
    width: 404px;
    height: 50px;
    border: 2px dashed;
    line-height: 50px;
    text-align: center;
    font-size: 23.5px;
    position: relative;
    left: 62px;
    top: 175px;
}

.main-promo__title {
    font-size: 114.5px;
    top: 170px;
    z-index: 1;
}

.main-promo__subtitle {
    font-size: 56.5px;
    top: 142px;
}

.main-promo__text-format {
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    text-shadow: 3.9px 4.5px #ffe9bc;
    position: relative;
    left: 61px;
}

.price-circle__outer {
    height: 174px;
    width: 174px;
    border-radius: 50%;
    background-color: #df1c1c;
    position: relative;
    left: 749px;
    top: 194px;
    z-index: 3;
}

.price-circle__inner {
    height: 152px;
    width: 152px;
    border-radius: 50%;
    background-color: #df1c1c;
    border: 2px dashed #ffffff;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.price-circle__dollar {
    width: 84px;
    height: 91px;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 70px;
    line-height: 38px;
    margin-top: 7px;
}

.price-circle__cent {
    font-size: 30.5px;
    line-height: 20px;
}

.price-circle__text{
    font-size: 33.5px;
    letter-spacing: 11.39px;
}

.main-promo__fries-img {
    position: relative;
    width: 350px;
    left: 700px;
    bottom: 450px;
    transform: rotate(-30deg);
    z-index: 1;
}

.main-promo__burger-img {
    position: relative;
    width: 440px;
    left: 460px;
    bottom: 390px;
    z-index: 2;
}

.main-promo__coke-img {
    position: relative;
    width: 500px;
    left: 180px;
    bottom: 400px;
    z-index: 1;
}

.main-promo__glow-img {
    position: relative;
    width: 500px;
    height: 600px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 10px 10px 200px 200px white;
    bottom: 1010px;
    left: 800px;
    opacity: 0.4;
    z-index: 0;
}

/* Burger Cards Section */

.burgerCards {
    margin-top: 78px;
    margin-left: 109px;
}

.burgerCard_left {
    background-image: url(/images/secion-B-card1.jpeg);
    background-size: contain;
}

.burgerCard_right {
    margin-left: 42px;
    vertical-align: top;
}

.burgerCard_format {
    width: 596px;
    height: 420px;
    display: inline-block;
    border-radius: 10px;
}

.burgerCard_top {
    height: 192px;
    background-image: url(/images/section-B-card2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.burgerCard_bottom {
    height: 192px;
    margin-top: 36px;
    background-image: url(/images/section-b-card3.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
}

.burgerCards__button {
    text-transform: uppercase;
    background-color: #ffc135;
    border: none;
    width: 218px;
    height: 48px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 71px;
    margin-left: 611px;
    transform: translateX(-50%);
    outline: none;
}

.burgerCards__button:hover {
    cursor: pointer;
    color:  #ffffff;
}

.burgerCards__title {
    color: white;
    font-size: 25px;
    line-height: 37.5px;
    padding-top: 30px;
}

.burgerCards__subtitle {
    color: white;
    font-size: 41.7px;
    line-height: 37.5px;
}

.burgerCard_right__text{
    margin-left: 29px;
}

.burgerCard_left__text {
    margin-left: 24px;
}

/* Burger Information Section*/

.burgerInformation {
 margin-top: 39px;
}

.burgerInformation__subtitle {
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.burgerInformation__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 16.7px;
    text-align: center;
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
}

.burgerInformation__tile {
    height: 491px;
    width: 342px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 103.5px;
}

.burgerInformation__tile-img {
    width: 332px;
}

.burgerInformation__tile-title {
    font-size: 37.5px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 71px;
}

.burgerInformation__tile-text {
    font-size: 16.7px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.25;
    margin-top: 6.3px;
}

.burgerInformation__tile-button {
    width: 195px;
    height: 57px;
    margin-left: 73.5px;
    margin-top: 36px;
    background-color: #df1c1c;
    color: #ffffff;
    border: none;
    outline: none;
    font-family: 'Alfa Slab One', cursive;
    font-size: 16.7px;
    text-transform: uppercase;
}

.burgerInformation__tile-button:hover {
    cursor: pointer;
    color: #df1c1c;
    background-color: #ffffff;
    border: 2px solid #df1c1c;
}

/* Discover Section */

.discover {
    width: 1294px;
    height: 492px;
    margin-left: 78px;
    margin-top: 131px;
    box-shadow: 18.7px 24.8px 43px 0 rgba(0, 0, 0, 0.17);
}

.discover_left {
    width: 507px;
    height: 492px;
    display: inline-block;
    vertical-align: top;
    margin-left: 54px;
}

.discover__title {
    color: #3b3b3b;
    font-size: 29.2px;
    letter-spacing: 1.57;
    line-height: 1.57;
    margin-top: 63px;
}

.discover__subtitle {
    font-size: 41.7px;
    line-height: 1.1;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
}

.discover__text {
    font-size: 20.8px;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.6;
    color: #3b3b3b;
    margin-top: 40px;
}

.discover__button {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-top: 56px;
    background-color: #ffc135;
}

.discover__button:nth-child(n+5){
    background-color: #dddddd;
}

.discover__button:hover {
    background-color: #ffc135;
    cursor: pointer;
}

.discover_right {
  width: 730px;  
  height: 492px;
  display: inline-block;
}

.discover__img {
    width: 659px;
    margin-left: 45px;
    margin-top: 25px;
}

/* Reservation Section */

.reservation {
    position: relative;
}

.reservation__title {
    font-size: 29.2px;
    text-transform: uppercase;
    line-height: 1.57;
    letter-spacing: 1.75px;
    text-align: center;
    margin-top: 132px;
}

.reservation__subtitle {
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
    line-height: 0.92;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.reservation__form {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
}

.reservation__form__input {
    width: 379px;
    height: 65px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #bfbfbf;
    margin-left: 25px;
    margin-bottom: 27px;
    font-size: 20.8px;
    line-height: 2.2;
    color: #3b3b3b;
    padding-left: 23px;
}

.reservation__form__input::placeholder{
    color:#3b3b3b
}

.reservation__form__input:last-child {
    background-color: #df1c1c;
    color: #ffffff;
    font-family: 'Alfa Slab One', cursive;
    line-height: 2.2;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0px;
}

.reservation__form__input:last-child:hover{
    cursor: pointer;
    color: #df1c1c;
    border: 2px solid #df1c1c;
    background: #ffffff;
}

.reservation__burger-img {
    width: 210px;
    position: absolute;
    bottom: 300px;
}

.reservation__hotsauce-img {
    width: 250px;
    position: absolute;
    left: 100px;
    bottom: 10px;
}

.reservation__burgerplate-img {
    position: absolute;
    left: 1150px;
    top: 230px;
}

.footer {
    width: 1326px;
    height: 525px;
    margin: 0 auto;
    margin-top: 177px;
    background-image: url(/images/section-F-BurgerFooter.jpeg);
    background-size: cover;
    background-position: center;
    margin-bottom: 66px;
}

.footer__background-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 1326px;
    height: 525px;
}

.footer__info {
    color: #ffffff
}

.footer__container__left {
    height: 410px;
    width: 512px;
    margin-left: 43px;
    display: inline-block;
}

.footer__logo {
    margin-top: 84px;
}

.footer__logo__img {
    height: 90px;
    display: inline-block;
    outline: none;
    border: none;
}

.footer__logo__text {
    display: inline-block;
    width: 284px;
    font-size: 60px;
    vertical-align: top;
    margin-top: 28px;
    margin-left: 35px;
}

.footer__description {
    font-family: 'montserrat', sans-serif;
    font-size: 16.7px;
    line-height: 1.5;
    margin-top: 48px;
}

.footer__copyright {
    font-size: 16.7px;
    margin-top: 152px;
}

.footer__container__right {
    height: 261px;
    width: 393px;
    display: inline-block;
    vertical-align: top;
    margin-top: 238px;
    margin-left: 348px;
}

.footer__location-img {
    height: 35px;
    display: inline-block;
}

.footer__location__text {
    display: inline-block;
    vertical-align: top;
    font-size: 20.8px;
    line-height: 1.8;
    margin-left: 34px;
}

.footer_email-img{
    margin-top: 17px;
    height: 35px;
    display: inline-block;
}

.footer__email__text {
    display: inline-block;
    vertical-align: top;
    font-size: 20.8px;
    line-height: 1.8;
    margin-top: 12px;
    margin-left: 34px;
}

.footer__email__text a:link{
    color: white;
}

.footer__social-media {
    margin-left: 230px;
    margin-top: 140px;
}

.footer__social-media__icons {
    width: 29px;
}

.footer__social-media a:nth-child(n+2){
    margin-left: 12px;
}